# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Yarn
.yarn/
.yarn

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#Firebase SDK
src/config/keys.js

# Features API Keys
src/features/foodDiary/api/EdamamFoodDB/keys.js
src/features/workoutDiary/api/ExerciseDB/keys.js

# more
.o
.env
.log